/node_modules
/public/build
/public/hot
/public/storage
/vendor
/bootstrap/ssr
/storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

.env
.env.backup
.env.production
/auth.json

.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.fleet
/.idea
/.nova
/.vscode
/.zed
